*{
    box-sizing: border-box;
}
body{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__carrusel{
    width: 50em;
    height: 30em;
    border-radius: 15px;
}
.carrusel{
    width: 50rem;
    height: 50rem;
    
}
.footer{
    width: auto;
    height: 5em;
    background-color: rgba(153, 153, 153, 0.288);
    
}
.footer__lista{
    color: #333;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__lista__item_link__icon{
    width: 2rem;
    height: 2rem;
}