* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightseagreen;
    color: rgb(23, 37, 37);
    text-align: center;
}

.header__title {
    font-size: 3em;
    color: bisque;
    text-shadow: 2px 2px 20px rgb(23, 37, 37), 2px 2px 20px rgb(154, 185, 185);
}

.header__subtitle {
    font-size: 2em;
    color: bisque;
}

.section__hospital,
.section__trabajadores,
.section__pacientes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_hospital {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.formModifica {
    display: block;
    display: flex;
    flex-direction: column;
}

.botones {
    display: flex;
    flex-direction: column;
}

.boton {
    height: 2em;
    margin-top: 0.5em;
    background-color: antiquewhite;
    border: none;
    border-radius: 0.5em;
    box-shadow: 1px 1px 2px black;
    font-size: 0.9em;

}

.hidden {
    display: none;
}

.caja_mostrar_hospitales,
.caja_mostrar_Pacientes,
.caja_mostrar_Trabajadores {
    display: flex;
    flex-direction: column;
    align-items: center;
}