*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: lightseagreen;
    color: rgb(23, 37, 37);
    text-align: center;
}
.header__title {
    font-size: 3em;
    color: bisque;
    text-shadow: 2px 2px 20px rgb(23, 37, 37), 2px 2px 20px rgb(154, 185, 185);
}

.header__subtitle {
    font-size: 2em;
    color: bisque;
}

.form_hospital {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formModifica {
    display: block;
}

.hidden {
    display: none;
}

.caja_mostrar_hospitales,
.caja_mostrar_Pacientes,
.caja_mostrar_Trabajadores{
    display: flex;
    flex-direction: column;
    align-items: center;
}